.container {
    display: flex;
    justify-content: center;
}

.container input {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 25vw;
    font-size: 6vw;
}
.container textarea{
    background-color: transparent;
    border: none;
    width: 100%;
    height: 25vw;
    font-size: 6vw;
}